<!-- templates/account/login.html -->
{% extends 'layout.html' %}
{% load django_bootstrap5 %}

{% block title%}로그인{% endblock title%}
{% block contents %}
{% if errorMessage != None %}
    <span class="text-danger">{{errorMessage}}</span>
{% endif %}
<style>
    .form-container {
        background: rgba(255, 255, 255, 0.8);
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }
    .form-title {
        margin-bottom: 20px;
    }
    .form-label {
        font-weight: bold;
    }
    .btn-custom {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container">
                <h2 class="text-center form-title">로그인</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    
                    <!-- 저장 버튼 -->
                       
                    <div class ="mb-3 row">
                        <button type="submit" class="btn btn-custom">로그인</button>
                    </div>
                    <div class ="mb-3 row">
                        <a href = "{% url 'login:user_base' %}" class="btn btn-custom">id찾기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contents%}
