{% extends "layout.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block contents %}
<style>
    .content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: blue;
            }
    h1 {
        margin-bottom: 20px;
        position: relative;
        font-size: 30pt;
        top: -90px; /* 이 값을 조정하여 LOCKERs의 위치를 올리세요 */
    }
</style>
<div class="content">
    <h1>LOCKERs</h1>
    <div class="mt-3">
        <a href="{% url 'login:login' %}" class="btn btn-primary">로그인</a>
    </div>
    <div class="mt-3">
        <a href="{% url 'login:create' %}" class="btn btn-primary">회원가입</a>
    </div>
</div>
{% endblock contents %}
